name: Ruff
on: [ push, pull_request ]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run Ruff Linting
        uses: astral-sh/ruff-action@v3
        with:
          args: check --select F,E,W,I,B,S --ignore E501,S608,S110,AIR001,AIR311
          pass-with-no-files: true